
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.QRCodeCard {
    --white: #FFFFFF;
    --font-size: 15px;
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --light-grey: hsl(212, 45%, 89%);
    --shadow: hsl(212, 45%, 84%);

    background-color: var(--white);


    max-width: 320px;
    padding: 16px;
    padding-bottom: 40px;
    border-radius: 16px;
    font-size: var(--font-size);

    font-family: Outfit;
    text-align: center;
    box-shadow: 0px 24px 32px 4px var(--shadow);

    & > img ~ * {
        margin-top: 16px;
        margin: 16px 16px 0px 16px;
    }

    & > img {
        width: 100%;
        border-radius: 8px;
    }

    & > h1 {
        
        font-size: 1.4rem;
        color: var(--dark-blue);
    }

    & > p {
        font-size: 0.99rem;
        color: var(--grayish-blue);
    }
}