
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.QRCodeCard {
    --white: #FFFFFF;
    background-color: var(--white);


    /* max-width: 300px;


    & > img {
        width: 100%;
    } */
}